In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv(r"C:\Users\user\Downloads\StudentsPerformance.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [4]:
data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

In [5]:
data.mean()

math score       66.001
reading score    69.195
writing score    68.119
dtype: float64

In [ ]:
# 1. Find out how many males and females participated in the test.

In [8]:
data.gender.value_counts()

female    518
male      482
Name: gender, dtype: int64

In [9]:
# 2. What do you think about the students' parental level of education?

In [14]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [15]:
# 3. Who scores the most on average for math, reading and writing based on
# ● Gender
# ● Test preparation course

In [22]:
average_score = data.groupby(["gender","test preparation course"])["reading score", "math score", "writing score"].mean()
print(average_score)

                                reading score  math score  writing score
gender test preparation course
female completed                    77.375000   67.108696      78.793478
       none                         69.955090   61.320359      68.982036
male   completed                    70.793103   72.988506      70.339080
       none                         62.581169   66.467532      59.551948

C:\Users\user\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [23]:
# 4. What do you think about the scoring variation for math, reading and writing based on
# ● Gender
# ● Test preparation course

In [29]:
variance_data = data.groupby(['gender','test preparation course'])['reading score', 'math score', 'writing score'].std()
print(variance_data)

                                reading score  math score  writing score
gender test preparation course
female completed                    12.695493   14.428233      12.240788
       none                         14.636981   16.510686      15.016497
male   completed                    13.612420   14.039164      12.887910
       none                         13.595718   14.335746      13.468284

C:\Users\user\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [30]:
# 5. The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.

In [40]:
topmost_students = data.nlargest(250, 'math score')
print(topmost_students)

     gender race/ethnicity parental level of education         lunch  \
515  female        group E                some college      standard
516  female        group E           bachelor's degree      standard
517  female        group E          associate's degree      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
..      ...            ...                         ...           ...
428  female        group D                some college  free/reduced
429  female        group E            some high school      standard
849    male        group A           bachelor's degree      standard
850    male        group C          associate's degree  free/reduced
851    male        group D                some college      standard

    test preparation course  math score  reading score  writing score
515                    none         100             92             97
516                    none         100            100            100
517                    none         100            100            100
996               completed         100             96             86
997               completed         100             97             99
..                      ...         ...            ...            ...
428                    none          77             86             86
429                    none          77             79             80
849                    none          77             67             68
850                    none          77             67             64
851               completed          77             62             62

[250 rows x 8 columns]