In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv(r"C:\Users\user\Downloads\Sales_add.csv")

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [6]:
## T test

In [7]:
from scipy.stats import ttest_ind

In [8]:
t_stat, p_value = ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [9]:
p_value

2.614368006904645e-16

In [10]:
if p_value <0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Reject null hypothesis

In [11]:
## Chi Square test

In [12]:
from scipy.stats import chisquare

In [20]:
chi_stat,pvalue= chisquare(f_obs = data['Sales_before_digital_add(in $)'], f_exp = data['Sales_After_digital_add(in $)'])

In [21]:
pvalue

0.0

In [19]:
if pvalue <0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Reject null hypothesis

In [25]:
from scipy.stats import chi2_contingency
contingency= pd.crosstab(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
chi2_stat, p_value2, dof, expected = chi2_contingency(contingency)
print(p)

0.2362099737755942

In [28]:
if p_value2 <0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Accept null hypothesis